body{
    font-family: 'Courier New', Courier, monospace;
    
}

button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(197, 134, 199);
    
}

h1{
    text-align: center;
    color: rgb(197, 134, 199);
}